.login {
    height: 100%;
    width: 100%;
    overflow:hidden;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login h1{
    font-size: 4rem;
    margin-bottom: 20px;
    color: #000;
    font-weight: bold;
    padding: 15px 0;

}
.login form{
    width: 60%;
    display: flex;
    flex-direction:column;
    align-items:center;
    gap: 10px;
}
.login form input:not([type="submit"]){
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    outline: none !important;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    
    margin-bottom: 10px;
    font-size: 0.99rem;
    font-weight: bold;
    color: black;

}
.login form button{
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    outline: none !important;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 0.99rem;
    color: black;
    background: white;
    cursor: pointer;
    transition: 0.3s linear;


}

.login form button:hover{
    background-color: #1C3738; 
    border: 1px solid #1C3738; 
}