body{
    margin: 0;
}
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-rows: 50px 50px 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.div1 { 
    grid-area: 1 / 1 / 2 / 4;
    width: 1366px;
    height: 50px;
    background-color: #1C3738;
}
.logo{
    text-decoration: none;
    font-size: 16px;
    color: white;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
.logout{
    text-decoration: none;
    font-size: 16px;
    color: white;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}
.div2 { 
    grid-area: 2 / 1 / 3 / 4;
    width: 1280px;
    height: 50px;

}
.div3 h3{ 
    grid-area: 3 / 1 / 4 / 4;
    float: left;
    padding: 5px;
    margin-left: 15px;

}

.div4 { 
    grid-area: 4 / 1 / 6 / 2; 
    border: solid black;
    width: 250px;
    float: left;
    margin-left: 5px;
}
.div5 { 
    grid-area: 4 / 2 / 5 / 3; }
.div6 { 
    grid-area: 4 / 3 / 5 / 4; 
    border: solid black;
    width: 250px;
    margin-left: 195px;

}


#assets {
    text-align: left;
}